<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">	
		<p>© V/LineCars.com {{ site.time | date: "%Y" }}.<br/>
			In memory of Matt Julian 1989-2017.<br/>
			Original content by Matt Julian.<br/>
			Additional content as noted.</p>
  
		<p>Site last updated {{ site.time | date: "%B %-d, %Y" }}</p>
      </div>
    </div>

  </div>

</footer>
